.codehilite {
    display: block;
    padding: 3px 3px 0 3px;
    border-radius: 6px;
    border: none;
    line-height: 1.4em;
    word-wrap: normal;
    background: #232629;
    color: #263238;
}

pre { line-height: 125%; max-height: 300px;}

pre::-webkit-scrollbar{
    display: none;
}
td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #2C3B41 }
.c { color: #546E7A; font-style: italic } /* Comment */
.err { color: #FF5370 } /* Error */
.esc { color: #89DDFF } /* Escape */
.g { color: #EEFFFF } /* Generic */
.k { color: #BB80B3 } /* Keyword */
.l { color: #C3E88D } /* Literal */
.n { color: #EEFFFF } /* Name */
.o { color: #89DDFF } /* Operator */
.p { color: #89DDFF } /* Punctuation */
.ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
.cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
.cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.cs { color: #546E7A; font-style: italic } /* Comment.Special */
.gd { color: #FF5370 } /* Generic.Deleted */
.ge { color: #89DDFF } /* Generic.Emph */
.gr { color: #FF5370 } /* Generic.Error */
.gh { color: #C3E88D } /* Generic.Heading */
.gi { color: #C3E88D } /* Generic.Inserted */
.go { color: #546E7A } /* Generic.Output */
.gp { color: #FFCB6B } /* Generic.Prompt */
.gs { color: #FF5370 } /* Generic.Strong */
.gu { color: #89DDFF } /* Generic.Subheading */
.gt { color: #FF5370 } /* Generic.Traceback */
.kc { color: #89DDFF } /* Keyword.Constant */
.kd { color: #BB80B3 } /* Keyword.Declaration */
.kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
.kp { color: #89DDFF } /* Keyword.Pseudo */
.kr { color: #BB80B3 } /* Keyword.Reserved */
.kt { color: #BB80B3 } /* Keyword.Type */
.ld { color: #C3E88D } /* Literal.Date */
.m { color: #F78C6C } /* Literal.Number */
.s { color: #C3E88D } /* Literal.String */
.na { color: #BB80B3 } /* Name.Attribute */
.nb { color: #82AAFF } /* Name.Builtin */
.nc { color: #FFCB6B } /* Name.Class */
.no { color: #EEFFFF } /* Name.Constant */
.nd { color: #82AAFF } /* Name.Decorator */
.ni { color: #89DDFF } /* Name.Entity */
.ne { color: #FFCB6B } /* Name.Exception */
.nf { color: #82AAFF } /* Name.Function */
.nl { color: #82AAFF } /* Name.Label */
.nn { color: #FFCB6B } /* Name.Namespace */
.nx { color: #EEFFFF } /* Name.Other */
.py { color: #FFCB6B } /* Name.Property */
.nt { color: #FF5370 } /* Name.Tag */
.nv { color: #89DDFF } /* Name.Variable */
.ow { color: #89DDFF; font-style: italic } /* Operator.Word */
.w { color: #EEFFFF } /* Text.Whitespace */
.mb { color: #F78C6C } /* Literal.Number.Bin */
.mf { color: #F78C6C } /* Literal.Number.Float */
.mh { color: #F78C6C } /* Literal.Number.Hex */
.mi { color: #F78C6C } /* Literal.Number.Integer */
.mo { color: #F78C6C } /* Literal.Number.Oct */
.sa { color: #BB80B3 } /* Literal.String.Affix */
.sb { color: #C3E88D } /* Literal.String.Backtick */
.sc { color: #C3E88D } /* Literal.String.Char */
.dl { color: #EEFFFF } /* Literal.String.Delimiter */
.sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
.s2 { color: #C3E88D } /* Literal.String.Double */
.se { color: #EEFFFF } /* Literal.String.Escape */
.sh { color: #C3E88D } /* Literal.String.Heredoc */
.si { color: #89DDFF } /* Literal.String.Interpol */
.sx { color: #C3E88D } /* Literal.String.Other */
.sr { color: #89DDFF } /* Literal.String.Regex */
.s1 { color: #C3E88D } /* Literal.String.Single */
.ss { color: #89DDFF } /* Literal.String.Symbol */
.bp { color: #89DDFF } /* Name.Builtin.Pseudo */
.fm { color: #82AAFF } /* Name.Function.Magic */
.vc { color: #89DDFF } /* Name.Variable.Class */
.vg { color: #89DDFF } /* Name.Variable.Global */
.vi { color: #89DDFF } /* Name.Variable.Instance */
.vm { color: #82AAFF } /* Name.Variable.Magic */
.il { color: #F78C6C } /* Literal.Number.Integer.Long */
