[baidu]
ak = example-baidu-ak
sk = example-baidu-sk
token = example-baidu-token

[base]
scheduler = True
light_theme = flatly
dark_theme = darkly

[admin]
author_email = example@mail.com
gallery_slogan = sample text