{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        .ci-div{
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid #eeeeee;
            padding: 15px 0px 15px 0px;
            border-radius: 15px;
            min-width: 150px;
        }
        .ci-title{
            color: white;
            font-weight: bold;
            min-height: 55px;
            padding: 5px;
            background: rgba(239, 90, 90, .7);
            width: 70%;
        }

        .ci-author{
            color: white;
            font-weight: bold;
            min-height: 55px;
            padding: 5px;
            background: rgba(80, 128, 92, 0.7);
            width: 30%;
            text-align: center;
        }
        .ci-content{
            padding: 15px;
        }
        .ci-title-date{
            color: #488b8f;
            padding-left: 10px;
        }
        .ci-title-n-date{
            color: #333;
            padding-right: 10px;
        }
    </style>
{% endblock %}
{% block title %}
    宋词
{% endblock %}
{% block content %}
    <main>
        <div class="container" style="height: 100%">
            <div class="row justify-content-center" style="height: 100%">
                <div class="align-self-center ci-div">
                    <div class="ci-title-date">
                        <p class="float-left">2020-10-23 星期五</p>
                    </div>
                    <div class="ci-title-n-date">
                        <p class="float-right">庚子 九月初七</p>
                    </div>
                    <div class="float-left ci-title">
                        <p>{{ ci.rhythmic }}</p>
                    </div>
                    <div class="float-right ci-author">
                        <p>宋·{{ ci.authors.name }}</p>
                    </div>
                    <br>
                    <div class="ci-content">
                        {% for sentence in ci.content|ssplit('。') %}
                            {% if loop.index !=  ci.content|ssplit('。')|length%}
                                <p>{{ sentence }}。</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
