{% extends "base.html" %}
{% from "macro.html" import tool_bread with context %}
{% block head %}
    {{ super() }}
    <style>
        #textarea {
            padding: 8px;
            width: 100%;
            min-height: 100%;
            max-height: 100%;
            border-radius: 5px;
            outline: 0;
            border: 1px solid #aaaaaa;
            font-size: 13px;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-user-modify: read-write-plaintext-only;
        }
        [contentEditable=true]:empty:not(:focus):before {
            content: attr(data-text);
        }
    </style>
{% endblock %}
{% block title %}
    OCR在线工具
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            {{ tool_bread(_('OCR'), "OCR") }}
            <div class="blog-content-brief-div p-3 mt-2">
                <article>
                    <p class="tool-title">{{ _('Tool Introduce') }}:</p>
                    <ul>
                        <li>{{ _("The OCR tool is developed based on Baidu's AI development platform") }}，<a class="text-info-a" href="https://cloud.baidu.com/doc/OCR/s/zk3h7xw5e">{{ _('Baidu AI Platform') }}</a></li>
                        <li>{{ _("At present, it has the functions of picture text, ID card (front), bank card, driver's license, license plate recognition, etc.") }}</li>
                        <li>{{ _("Since the free API is used, there is a daily limit on interface calls. If there is a problem of recognition failure, it may be the limit of the number of times.") }}</li>
                        <li><strong>{{ _("Please upload the correct image after selecting the recognition type! ! ! The identification result is for reference only~") }}</strong></li>
                    </ul>
                    <p class="tool-title">{{ _('Tool-Using') }}:</p>
                    <form id="upload" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>{{ _('Identification Type') }}:</p>
                                    <select id="ocrCategory" class="form-control">
                                        <option>{{ _("Text Recognition") }}</option>
                                        <option>{{ _("IDCard Recognition") }}</option>
                                        <option>{{ _("Bank Card Recognition") }}</option>
                                        <option>{{ _("Drive Card Recognition") }}</option>
                                        <option>{{ _("Car license recognizer") }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ _("Origin Image") }}:</p>
                                    <input required id="image" name="img" style="height: 2.4rem;border: 1px solid #cccccc;padding: 3px;border-radius: 3px;" type="file">
                                </div>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-secondary" onclick="startOCR()">{{ _('Recognition') }}</button>
                    <hr>
                    <div hidden="hidden" id="ocrHint" class="text-center">
                        <p><b><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>{{ _('Recogniting, Please wait...') }}</b></p>
                    </div>
                    <div id="resultDiv" hidden="hidden" class="no-results">
                        <p class="tool-title">{{ _('Recognition Result') }}:</p>
                        <p class="text-muted" id="nums"></p>
                        <div class="row">
                            <div class="col-md-4">
                                {#                                <img id="originImg" data-toggle="modal" data-target="#bigImg" class="img-fluid">#}
                                <img alt="源图" id="originImg" data-toggle="modal" data-target="#bigImg" class="img-fluid pic" src="">
                            </div>
                            <div class="col-md-8">
                                <div id="textarea" contenteditable="true" data-text="输入内容..."></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% include "big-image.html" %}
    </main>
    <script>
        function startOCR(){
            let category = $("#ocrCategory").val();
            let img = $("#image")[0].files[0];
            if (img==undefined){
                alert('请选择图片!');
                return false;
            }
            let formdata = new FormData();
            formdata.append('image', img);
            formdata.append('category', category);
            $("#ocrHint").removeAttr('hidden');
            $.ajax({
                url: "/tool/ocr/",
                type:"POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (res){
                    if (res.tag == 0){
                        alert('OCR识别失败!')
                        return false;
                    }
                    showResult(res);
                },
                error: function (){}
            })
        }

        function showResult(res){
            $("#ocrHint").attr('hidden', 'hidden');
            $("#resultDiv").removeAttr('hidden');
            $("#textarea").html(res.texts);
            $("#originImg").attr('src', res.img);
            $("#BigImg").attr('src', res.img);
            $("#nums").text('文字行数:'+res.nums);
        }

    </script>
{% endblock %}