{% extends "base.html" %}
{% from "macro.html" import tool_card with context %}
{% block head %}
    {{ super() }}
    <style>
        .tool-des{
            height: 10rem;
        }

        .tool:hover {
            transform: scale(1.02);
        }
    </style>
{% endblock %}
{% block title %}
    在线小工具
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <br>
            <div class="row">
                {{ tool_card("在线OCR工具", "在线OCR工具是基于百度AI平台接口进行开发的，每天50000次的免费调用，如果识别失败那一定是因为博主穷，每天免费次数被用完了。", "ocr", "fa fa-image") }}
                {{ tool_card("IP查询工具", "IP查询工具是基于ipfree接口进行查询，由于使用的外网源，可能查询的时间有点较慢，或者超时。", "query-ip", "fa fa-address-card") }}
                {{ tool_card("词云图制作", "词云图是目前比较流行的可视化工具，本工具通过jieba库实现词云图制作，保存下载。", 'word-cloud', "fa fa-cloud") }}
                {{ tool_card("多端翻译", "多端翻译工具集成了多个翻译接口，包含有百度、有道、谷歌等，一条文本多个结果。", 'multi-translation', "fa fa-language") }}
                {{ tool_card("图像工具", "图像工具主要是可以做一些图像的简单操作，比如裁剪、缩放、添加文字等，功能较为鸡肋。", 'image-pro', "fa fa-photo") }}
                {{ tool_card("唐宋诗词", "包含有32万首唐宋诗，15万首宋词，感谢github上chinese-poem仓库的贡献者。", 'poem-tang', "fa fa-file-o") }}
            </div>
        </div>
    </main>
{% endblock %}