{% extends "base.html" %}
{% from "macro.html" import moment_card, photo_moment_card with context %}
{% block title %}
    {{ current_user.username }}的个人主页
{% endblock %}
{% block content %}
    {{ moment.locale(auto_detect=True) }}
    <main>
        <div class="container">
            <br>
            {% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0] }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}

            <div class="card">
                <div class="text-muted card-header">
                    <strong>{{ current_user.username }}</strong>的个人资料
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="img-fluid rounded " src="{{ current_user.avatar }}">
                        </div>
                        <div class="col-9">
                            <h3><strong>{{ current_user.username }}</strong></h3>
                            {% if not current_user.confirm %}
                                <p class="text-danger">您的账号邮箱还未确认，请尽快前往邮箱确认开启全部功能!</p>
                            {% endif %}
                            <p class="text-muted">个人网站: <i class="fa fa-link"></i> <a class="text-info-a" href="{{ current_user.website }}" target="_blank">{{ current_user.website }}</a></p>
                            <p class="text-muted">创建时间: <i class="fa fa-clock-o"></i> {{ current_user.create_time }}</p>
                            <p class="text-muted">注册邮箱: <i class="fa fa-envelope"></i> {{ current_user.email }}</p>
                            <p class="text-muted">个性签名: <i class="fa fa-text-width"></i> {{ current_user.slogan }}</p>
                            <br>
                            {% if not current_user.confirm %}
                                <button class="btn btn-success float-right gutter-right"><a style="color: white;text-decoration: none" href="/accounts/profile/edit/">认证邮件</a></button>
                            {% else %}
                                <button class="btn btn-success float-right gutter-right"><a style="color: white;text-decoration: none" href="/accounts/profile/edit/">编辑资料</a></button>
                                <button class="btn btn-danger float-right gutter-right"><a style="color: white;text-decoration: none" href="/accounts/password/change/">修改密码</a></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active text-info-a" data-toggle="tab" href="#moment"><i class="fa fa-photo"></i> 动态</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info-a" data-toggle="tab" href="#notReadNotification"><i class="fa fa-bell"></i> 未读 <span class="badge badge-secondary">{{ notifies|length }}</span>
                        {% if nft_counts %}
                            <span class="badge badge-info">{{ nft_counts }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info-a" data-toggle="tab" href="#notifications"><i class="fa fa-history"></i> 登录日志</a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- 动态栏 -->
                <div id="moment" class="container tab-pane active"><br>
                    <div style="margin-bottom: 20px">
                        <a href="#blog" class="btn btn-success" data-toggle="collapse">博客</a>
                        <a href="#gallery" class="btn btn-success" data-toggle="collapse">相册</a>
                    </div>
                    <!-- 博客评论动态 -->
                    <div id="blog" class="collapse">
                        <span style="background: #b3ff7b;padding: 10px; border-radius: 5px;" class="text-important"><strong>博客动态</strong></span>
                        <br>
                        <br>
                        {% for comment in blogComments %}
                            {{ moment_card(comment) }}
                        {% endfor %}
                    </div>
                    <!-- 相册评论动态 -->
                    <div id="gallery" class="collapse">
                        <span style="background: #b3ff7b;padding: 10px; border-radius: 5px;" class="text-important"><strong>相册动态</strong></span>
                        <br>
                        <br>
                        {% for comment in photoComments %}
                            {{ photo_moment_card(comment) }}
                        {% endfor %}
                    </div>

                </div>

                <div id="notReadNotification" class="container tab-pane fade"><br>
                    {% if notifies %}
                        <div class="text-muted float-right"><span style="min-height: 8px;" class="badge badge-danger"><a style="color: inherit; text-decoration: none;" href="/accounts/mark-all/">全部标记为已读</a></span></div>
                        <br>
                        <hr>
                        {% for notify in notifies %}
                            <div>
                                <div class="float-right text-muted"><span class="badge badge-light"><a style="color: inherit; text-decoration: none;" href="/accounts/mark/{{ notify.id }}/">已读</a></span></div>
                                <span style="font-size: 14px;" class="text-muted"><i class="fa fa-clock-o"></i> {{ moment(notify.timestamp, local=True).fromNow(refresh=True)  }}</span>
                                <p>用户<strong>{{ notify.send_user }}</strong>在
                                    {% if notify.type == 0 %}
                                        <span class="badge badge-dark">博客</span><a href="/blog/article/{{ notify.target_id }}">{{ notify.target_name }}</a>
                                    {% else %}
                                        <span class="badge badge-success">照片</span><a href="/gallery/photo/{{ notify.target_id }}">{{ notify.target_name }}</a>
                                    {% endif %}
                                    回复你</p>
                                <h6>{{ notify.msg|safe }}</h6>
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div>您还没有新消息!</div>
                    {% endif %}

                </div>

                <div id="notifications" class="container tab-pane fade"><br>
                    {% if logs|length %}
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>时间</th>
                                    <th>IP</th>
                                    <th>地点</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for log in logs %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ log.timestamp }}</td>
                                        <td>{{ log.login_addr }}</td>
                                        <td>{{ log.real_addr }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}