{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    修改密码
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <br>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-8">
                        <img src="/static/img/index.jpg" class="rounded img-fluid">
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 w-100 bg-light">
                            <div class="card-header"><h4>密码修改</h4></div>
                            <div class="card-body">
                                <form action="/accounts/password/change/" method="post">
                                    {{ form.csrf_token }}
                                    {{ wtf.form_field(form.origin_pwd) }}
                                    {{ wtf.form_field(form.change_pwd) }}
                                    {{ wtf.form_field(form.confirm_pwd) }}
                                    {{ form.submit }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}