{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    用户登录
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <br>
            {% for message in get_flashed_messages(with_categories=True) %}
                <div style="margin-top: 5px" class="alert alert-{{ message[0] }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-8">
                        <img src="/static/img/index.jpg" class="rounded img-fluid">
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 w-100 bg-light">
                            <div class="card-header"><h4>Log in to Blogin</h4></div>
                            <div class="card-body">
                                <form action="/auth/login/" method="post">
                                    {{ form.csrf_token }}
                                    {{ wtf.form_field(form.usr_email) }}
                                    {{ wtf.form_field(form.password) }}
                                    {{ wtf.form_field(form.remember_me) }}
                                    {{ form.submit }}
                                </form>
                                <hr>
                                <p class="small"><a style="text-decoration: none" href="/auth/register">注册</a></p>
                                <p class="small"><a style="text-decoration: none" href="/auth/forget-password">忘记密码</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
