<!DOCTYPE html>
{% from "macro.html" import nav_item, dropmenu with context %}
<html lang="zh-hans">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Blogin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/ck.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" >
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
        <style>
            .gray-a{
                text-decoration:none;
                color: rgba(0,0,0,.5);
            }
            .gray-a:hover{
                color: forestgreen;
                text-decoration: none;
            }
        </style>
    </head>
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-md bg-light navbar-light justify-content-between">
        <a class="navbar-brand" href="/">Blogin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse " id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                {{ nav_item("blog_bp.index", '主页', 'fa fa-home') }}
                {{ nav_item("gallery_bp.index", '相册', 'fa fa-photo') }}
                {{ nav_item("blog_bp.archive", '归档', 'fa fa-archive') }}
                {{ nav_item("tool_bp.index", '工具', 'fa fa-steam') }}
                {{ dropmenu("soul_bp.index") }}
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-4 f-17" method="get" action="/search">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入关键字" aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
            {% if not current_user.is_authenticated %}
                <ul class="navbar-nav f-17">
                    <li class="nav-item"><a class="nav-link" href="/auth/login/">登录</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/register/">注册</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="欢迎回来,{{ current_user.username }}~">
                            <img class="avatar" src="{{ current_user.avatar }}" alt={{ current_user.username }}>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item pl-3" href="/accounts/profile/{{ current_user.id }}/"><i class="fa fa-fw fa-user text-info mr-2"></i>个人资料</a>
                            {% if ntf_counts %}
                                <a href="/accounts/profile" class="dropdown-item pl-3"><i class="fa fa-fw fa-bell text-info mr-2"></i>消息 <span class="badge badge-info">{{ ntf_counts }}</span>
                            {% endif %}
                            {% if current_user.role_id == 1 %}
                                <a class="dropdown-item pl-3" href="/backend/admin/index/ "><i class="fa fa-fw fa-magnet text-info mr-2"></i>后台管理</a>
                            {% endif %}
                            </a>
                            <a class="dropdown-item pl-3" href="/auth/logout"><i class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>

    </nav>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <footer class="container-fluid mt-4 py-0 bg-light">
        <div class="card-body text-center px-0 f-14">
            <p class="card-text mb-1">Copyright&nbsp;©&nbsp;<span id="year-info">2020</span>
                <a href="https://github.com/weijiang1994" class="gray-a"  target="_blank" title="博客作者的Github">Blogin</a>.&nbsp;Design&nbsp;by&nbsp;Flask1.01.
            </p>
            <p class="mb-0">
                <a href="http://beian.miit.gov.cn/" class="gray-a"  target="_blank">湘ICP备2020018236号-1</a>&nbsp;<span id="web-day"> 网站已续航 900 天</span>
            </p>
            <script>
                function getNewYear(){
                    let d = new Date();
                    let old = new Date('2020/08/28');
                    let x = document.getElementById("year-info");
                    x.innerHTML = d.getFullYear();
                    let y = document.getElementById("web-day");
                    let dd = Math.floor((d.getTime() - old.getTime()) / (24 * 3600 * 1000));
                    let d_str = "| 网站已上线 " + dd + " 天";y.innerHTML=d_str;
                }
                getNewYear();
            </script>
        </div>
    </footer>
{% endblock %}
</html>