{% if not current_user.is_authenticated %}
{#    <h5><b>发表评论</b></h5>#}
{#    <div class="blog-content-div">#}
{#        <p>登录后参与交流、获取后续更新提醒</p>#}
{#        <button class="btn btn-success">立即登录</button>#}
{#        <button class="btn btn-outline-success">立即注册</button>#}
{#    </div>#}
{#    <hr>#}
        <div style="background: #ddddee" class="text-center">
            <div class="card-body text-center m-2 m-md-3 f-16" id="no-editor">
                <div>您尚未登录，
                    <a href="/auth/login/"><span class="badge badge-info">登录</span></a> 或
                    <a href="/auth/register/"><span class="badge badge-success">注册</span></a> 后评论
                </div>
            </div>
        </div>
{% else %}
    <div style="margin: 5px">
        <p id="commentPosition"></p>
        <textarea name="comment-editor" id="comment-editor">
        </textarea>
        <div class="blog-content-div">
            <p id="replyUser" class="float-left text-info ml-0" hidden="hidden"></p>
            <p id="commentErrorHint" class="text-right text-danger ml-0" hidden="hidden">请输入评论内容后再提交</p>
            <br>
            <div>
                <div class="text-right">
                    <button hidden="hidden" class="btn btn-danger round-3" id="cancelReplyBtn">取消回复</button>
                    <button hidden="hidden" class="btn btn-secondary round-3" onclick="replyUserComment()" id="replyBtn">回复</button>
                    <button class="btn btn-secondary round-3" data-blogid="{{ blog.id }}" onclick="submitComment()" id="subCommentBtn">评论</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}