{% extends "backend/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    添加新计划
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            {% include "_flash.html" %}
            <form method="post">
                {{ form.csrf_token }}
                {{wtf.form_field(form.title)}}
                {{wtf.form_field(form.total)}}
                {{wtf.form_field(form.timestamps)}}
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2" style="text-align: right;">
                        {{ wtf.form_field(form.submit, class="btn btn-info") }}
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}