{% extends "backend/base.html" %}
{% block title %}
    {{ path }}
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <h3><b>{{ path }} 日志</b></h3>
            <div class="row-fluid" style="padding: 10px; margin-bottom: 20px; border-radius: 3px; background: #ddddee; border: 1px solid;">
                {% for content in contents %}
                    <p style="word-break: break-all;">{{ content|safe }}</p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}