/*网页基础样式*/
.line-limit-length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar {
    border-radius: 50%;
    width: 40px;
}

.cc {
    border-left: 4px solid #4a9c87;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .04);
    margin: 10px 0 20px
}

.avatar:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

a {
    color: inherit;
}

.article-img {
    cursor: pointer;
    transition: all 0.6s;
}

.article-img:hover {
    transform: scale(1.05);
}

.gutter-right {
    margin: 5px 0px 0px 5px;
}

.blog-column:hover {
    box-shadow: 5px 5px 5px #9d9d9d;
    transform: scale(1.01);
}

.h2,
h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 21px;
}

.div-click {
    cursor: pointer;
    margin-bottom: 5px;
    width: 150px;
}

html, body {
    height: 100%; /*让页面撑满窗体*/
}

.div-click:hover {
    color: #2aabd2;
}

.ntf-comment-body {
    border: 1px dashed #9acfea;
    padding: 5px;
    border-radius: 5px;
}

footer {
    color: rgba(0, 0, 0, .5);;
}

footer a:hover {
    color: #fff;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
}

footer {
    /* 和 header 一样，footer 也采用固定高度*/
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
}

.profile-edit {
    border-radius: 5px;
    border: 1px solid forestgreen;
    padding: 10px;
}

main {
    flex: 1 0 auto;
}

.help-block {
    color: darkred;
}

/*个人动态区域的样式*/
.moment-p {
    margin: 5px 0 5px 0;
}

.moment-p.p {
    margin: 5px 0 5px 0;
}

.blog-title {
    color: #17a2b8 !important;
    font-size: 26px;
    font-weight: bold;
}

.summary-list.avatar {
    width: 1.2rem;
    heigth: 1.2rem;
    margin-right: .2rem;
    border-radius: 50%;
}

.summary-list.media {
    background-color: #fff;
}

.summary-list.cate {
    color: #ea6f5a;
}

.summary-list.cate:hover {
    color: #17a2b8;
}

.blog-brief-div {
    cursor: auto;
    transition: all 0.6s;
    margin: 10px 0px 10px 0px;
}

.blog-brief-div:hover {
    transform: scale(1.01);
}

.text-info-a {
    color: inherit;
}

.text-info-a:hover {
    text-decoration: none;
    color: #ea6f5a;
}

.description h1 {
    padding-bottom: 8px;
    border-bottom: 2px solid #f0f0f0;
}

.description strong {
    padding-bottom: 7px;
    border-bottom: 2px solid #00AAEE;
}

.comment-body {
    margin-left: 60px;
    margin-top: 10px;
    min-height: 50px;
}

.comment-thumbnail {
    position: absolute;
}

.avatar-s {
    width: 50px;
    height: 50px;
}

.pl-4 {
    padding: 8px;
}

.tool-title {
    border-left: 3px solid #20c997;
    padding-left: 3px;
    font-weight: bold;
}

.footer-a {
    color: inherit;
}

.footer-a:hover {
    color: inherit;
}

.img-profile-bg {
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.p-mt-8 {
    margin-bottom: 8px;
}

@media screen and (max-width: 567px) {
    .img-profile-bg {
        height: 75px;
        width: 75px;
    }

    .div-center-md {
        text-align: center;
    }
}

.top-post-div {
    position: relative;
}

.title-brief {
    font-size: 18px;
}