
/*网页基础样式*/
.line-limit-length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.avatar {
    border-radius: 50%;
    width: 40px;
}
.cc{
    border-left:4px solid #4a9c87;
    padding:10px 20px;
    background-color:rgba(0,0,0,.04);
    margin:10px 0 20px}
.avatar:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
a {
    color: inherit;
}
.article-img {
    cursor: pointer;
    transition: all 0.6s;
}

.article-img:hover {
    transform: scale(1.05);
}

.gutter-right{
    margin: 5px 0px 0px 5px;
}

.blog-column:hover{
    box-shadow:5px 5px 5px  #9d9d9d;
    transform: scale(1.01);
}
/*a:hover {*/
/*    text-decoration: none;*/
/*    color: #ea6f5a;*/
/*}*/

.h2,
h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 21px;
}

.div-click{
    cursor: pointer;
    margin-bottom: 5px;
    width: 150px;
}
html, body {
    height: 100%; /*让页面撑满窗体*/
}
.div-click:hover{
    color: #2aabd2;
}

.ntf-comment-body{
    border: 1px dashed #9acfea;
    padding: 5px;
    border-radius: 5px;
}

footer {
    color: rgba(0,0,0,.5);;
}
footer a:hover {
    color:#fff;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    /* 我们希望 header 采用固定的高度，只占用必须的空间 */
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

.main-content{
    /* 将 flex-grow 设置为1，该元素会占用全部可使用空间
       而其他元素该属性值为0，因此不会得到多余的空间*/
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}

footer{
    /* 和 header 一样，footer 也采用固定高度*/
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
}

.profile-edit{
    border-radius: 5px;
    border: 1px solid forestgreen;
    padding: 10px;
}

main {
    flex: 1 0 auto;
}

.help-block{
    color: darkred;
}

/*个人动态区域的样式*/
.moment-div{
    background: #cccccc;
    padding: 5px;
    border-radius: 5px;
}

.moment-p{
    margin: 5px 0px 5px 0px;
}

.moment-p.p{
    margin: 5px 0px 5px 0px;
}

