pre{
    position: relative;
}
pre:before{
    display: block;
    content: "";
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    background-color: #eeeded!important;
    padding: 0 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

pre:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #fc625d;
    width: 10px;
    height: 10px;
    top: 0;
    left: 15px;
    margin-top: 11px;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
}

pre>code{
    overflow-y: hidden;
    overflow-x: scroll;
}

pre>code::-webkit-scrollbar-thumb:horizontal {
    border-radius: 0px;
    border-top: 1px solid #f8f8ff;
}

